<% layout('layout_main') %>
    <div class="history_main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-9">
                    <div class="row">
                        <div class="col-12 col-lg-9">
                            <nav aria-label="breadcrumb" class="index" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">啾比比價</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"><%= p_name %> 的比價結果</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-12 col-lg-3" style="text-align: right;">
                            <nav class="index" role="navigation">
                                <ol class="breadcrumb sortby" style="float: right;">
                                    <button type="button" class="btn btn-warning btn-sm">價格由高到低</button>
                                    <button type="button" class="btn btn-warning btn-sm">價格由低到高</button></ol>
                            </nav>
                        </div>
                    </div>
                    <div id="compare-title">
                        <h3><%= p_name %></h3>
                    </div>
                    <div class="table-list">
                        <table class="table" id="search_result">
                            <tbody>                                
                                <% for(p in productList){ %>
                                <tr>
                                    <td style="width:33%;">
                                        <a href="<%= productList[p].url %>">
                                            <center><img class="d-block" src="<%= productList[p].image %>" style="margin-left:unset!important;"></center>
                                        </a>
                                    </td>

                                    <td>
                                        <p><a href="<%= productList[p].url %>"><%= productList[p].title %></a></p>
                                        <p><%= productList[p].website %></p>
                                        <p class="price">$<%= productList[p].price %></p>
                                        <div class="result_buttons">
                                            <a href = "<%= productList[p].url %>"><button type="button" class="btn btn-info">前往購買</button></a>
                                            <button type="button" class="btn btn-warning">收藏</button>
                                        </div>
                                    </td>
                                </tr>
                                <% } %>                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card border-light mb-3 mx-auto" style="max-width: 20rem;" id="hot_product">
                        <div class="card-header">熱門商品</div>
                        <div class="card-body">
                            <div class="hot_item">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <img class="d-block" src="https://a.ecimg.tw/items/DGBJ85A9007KNO4/000001_1478552853.jpg" style="margin-left:unset!important;">
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <p><a href="#">PS4 VR《上古卷軸5:無界天際》中英文版</a></p>
                                        <p class="price">$1690</p>
                                        <div class="buy_now text-right">
                                            <button type="button" class="btn btn-danger">搶購</button>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="hot_item">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <img class="d-block" src="https://a.ecimg.tw/items/DGBJ85A9007KNO4/000001_1478552853.jpg" style="margin-left:unset!important;">
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <p><a href="#">PS4 VR《上古卷軸5:無界天際》中英文版</a></p>
                                        <p class="price">$1690</p>
                                        <div class="buy_now text-right">
                                            <button type="button" class="btn btn-danger">搶購</button>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="hot_item">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <img class="d-block" src="https://a.ecimg.tw/items/DGBJ85A9007KNO4/000001_1478552853.jpg" style="margin-left:unset!important;">
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <p><a href="#">PS4 VR《上古卷軸5:無界天際》中英文版</a></p>
                                        <p class="price">$1690</p>
                                        <div class="buy_now text-right">
                                            <button type="button" class="btn btn-danger">搶購</button>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>