<% layout('layout_main') %>
<div class="history_main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-9">  
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <nav aria-label="breadcrumb" class="index" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">啾比比價</a></li>
                                <li class="breadcrumb-item active" aria-current="page">瀏覽紀錄</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="table-list">
                    <table class="table" id="search_result">
                        <tbody>
                            <% for(index in history){ %>
                            <tr>
                                <td style = "width:33%;">
                                    <a href="<%=history[index].url%>">
                                        <center><img class="d-block" src="<%=history[index].image%>" style="margin-left:unset!important;"></center>
                                    </a>
                                </td>

                                <td>
                                    <p><a href="<%=history[index].url%>"><%=history[index].title%></a></p>
                                    <p>共<%=history[index].productCount%>筆商品</p>
                                    <p class="price">$<%=history[index].minPrice%>~$<%=history[index].maxPrice%></p>
                                    <div class="result_buttons">
                                        <a href = "<%=history[index].url%>"><button type="button" class="btn btn-info">比較價格</button></a>
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card border-light mb-3 mx-auto" style="max-width: 20rem;" id = "hot_product">
                    <div class="card-header">熱門商品</div>
                    <div class="card-body">
                        <div class="hot_item">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <center><img class="d-block" src="<%=hotProducts[0].image%>" style="margin-left:unset!important;"></center>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <p>
                                        <a href="<%=hotProducts[0].url%>">
                                            <%=hotProducts[0].title%>
                                        </a>
                                    </p>
                                    <p class="price">
                                        $<%=hotProducts[0].price%>
                                    </p>
                                    <div class="buy_now text-right">
                                        <a href="<%=hotProducts[0].url%>"><button type="button" class="btn btn-danger">搶購</button></a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="hot_item">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <center><img class="d-block" src="<%=hotProducts[1].image%>" style="margin-left:unset!important;"></center>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <p>
                                        <a href="<%=hotProducts[1].url%>">
                                            <%=hotProducts[1].title%>
                                        </a>
                                    </p>
                                    <p class="price">
                                        $<%=hotProducts[1].price%>
                                    </p>
                                    <div class="buy_now text-right">
                                        <a href="<%=hotProducts[1].url%>"><button type="button" class="btn btn-danger">搶購</button></a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="hot_item">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <center><img class="d-block" src="<%=hotProducts[2].image%>" style="margin-left:unset!important;"></center>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <p>
                                        <a href="<%=hotProducts[2].url%>">
                                            <%=hotProducts[2].title%>
                                        </a>
                                    </p>
                                    <p class="price">
                                        $<%=hotProducts[2].price%>
                                    </p>
                                    <div class="buy_now text-right">
                                        <a href="<%=hotProducts[2].url%>"><button type="button" class="btn btn-danger">搶購</button></a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                            
                                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>