<% layout('layout') %>
        <div class="indexmain">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-12 offset-sm-1">
                        <!-- 這裡放首頁大LOGO圖片 -->
                        <img src="/img/mainlg.png" id = "logo">

                        <form class="form-group" action="search" method = "get">
                            <input type="text" class="form-control" placeholder="搜尋商品..." aria-label="搜尋商品..." name = "keyword">
                            <div id="hotTag">
                                <% var count = 0;
                                 for(index in keywords){ %>
                                    <a href = "search?keyword=<%=keywords[index].keyword%>"><button type="button" class="btn btn-outline-warning"><%=keywords[index].keyword%></button>
                                <%
                                    if(count > 3)
                                        break;
                                    count++;
                                 } %>
                            </div>
                            <button class="btn btn-secondary" type = "submit">搜尋</button>
                        </form>


                        <div id="carouselExampleControls" class="carousel slide" data-ride="false">
                                <div class="carousel-inner mx-auto">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3">
                                                <a href = "<%=discounts[0].product.url%>"><img class="d-block w-100 mx-auto " src="<%=discounts[0].product.image%>" alt="First slide"></a>
                                                <div class="discount">
                                                    <span class="rate"><%=discounts[0].discountRate%>%OFF</span>
                                                    <p>
                                                        <a href="<%=discounts[0].product.url%>" class="gamename"><%=discounts[0].product.title%></a><br>
                                                        <span class="price">$<%=discounts[0].product.price%></span><br>
                                                        <span class="website"><%=discounts[0].product.website%></span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a href="<%=discounts[1].product.url%>"><img class="d-block w-100 mx-auto " src="<%=discounts[1].product.image%>" alt="First slide"></a>
                                                <div class="discount">
                                                    <span class="rate"><%=discounts[1].discountRate%>%OFF</span>
                                                    <p>
                                                        <a href="<%=discounts[1].product.url%>" class="gamename">
                                                            <%=discounts[1].product.title%>
                                                        </a><br>
                                                        <span class="price">$<%=discounts[1].product.price%></span><br>
                                                        <span class="website"><%=discounts[1].product.website%></span>
                                                </div>
                                            </div><div class="col-3">
                                                <a href="<%=discounts[2].product.url%>"><img class="d-block w-100 mx-auto " src="<%=discounts[2].product.image%>" alt="First slide"></a>
                                                <div class="discount">
                                                    <span class="rate"><%=discounts[2].discountRate%>%OFF</span>
                                                    <p>
                                                        <a href="<%=discounts[2].product.url%>" class="gamename">
                                                            <%=discounts[2].product.title%>
                                                        </a><br>
                                                        <span class="price">$<%=discounts[2].product.price%></span><br>
                                                        <span class="website"><%=discounts[2].product.website%></span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a href="<%=discounts[3].product.url%>"><img class="d-block w-100 mx-auto " src="<%=discounts[3].product.image%>" alt="First slide"></a>
                                                <div class="discount">
                                                    <span class="rate"><%=discounts[3].discountRate%>%OFF</span>
                                                    <p>
                                                        <a href="<%=discounts[3].product.url%>" class="gamename">
                                                            <%=discounts[3].product.title%>
                                                        </a><br>
                                                        <span class="price">$<%=discounts[3].product.price%></span><br>
                                                        <span class="website"><%=discounts[3].product.website%></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% if(discounts.length >= 8){ %>
                                  <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3">
                                                <a href="<%=discounts[4].product.url%>"><img class="d-block w-100 mx-auto " src="<%=discounts[4].product.image%>" alt="First slide"></a>
                                                <div class="discount">
                                                    <span class="rate"><%=discounts[4].discountRate%>%OFF</span>
                                                    <p>
                                                        <a href="<%=discounts[4].product.url%>" class="gamename">
                                                            <%=discounts[4].product.title%>
                                                        </a><br>
                                                        <span class="price">$<%=discounts[4].product.price%></span><br>
                                                        <span class="website"><%=discounts[4].product.website%></span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a href="<%=discounts[5].product.url%>"><img class="d-block w-100 mx-auto " src="<%=discounts[5].product.image%>" alt="First slide"></a>
                                                <div class="discount">
                                                    <span class="rate"><%=discounts[5].discountRate%>%OFF</span>
                                                    <p>
                                                        <a href="<%=discounts[5].product.url%>" class="gamename">
                                                            <%=discounts[5].product.title%>
                                                        </a><br>
                                                        <span class="price">$<%=discounts[5].product.price%></span><br>
                                                        <span class="website"><%=discounts[5].product.website%></span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a href="<%=discounts[6].product.url%>"><img class="d-block w-100 mx-auto " src="<%=discounts[6].product.image%>" alt="First slide"></a>
                                                <div class="discount">
                                                    <span class="rate"><%=discounts[6].discountRate%>%OFF</span>
                                                    <p>
                                                        <a href="<%=discounts[6].product.url%>" class="gamename">
                                                            <%=discounts[6].product.title%>
                                                        </a><br>
                                                        <span class="price">$<%=discounts[6].product.price%></span><br>
                                                        <span class="website"><%=discounts[6].product.website%></span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <a href="<%=discounts[7].product.url%>"><img class="d-block w-100 mx-auto " src="<%=discounts[7].product.image%>" alt="First slide"></a>
                                                <div class="discount">
                                                    <span class="rate"><%=discounts[7].discountRate%>%OFF</span>
                                                    <p>
                                                        <a href="<%=discounts[7].product.url%>" class="gamename">
                                                            <%=discounts[7].product.title%>
                                                        </a><br>
                                                        <span class="price">$<%=discounts[7].product.price%></span><br>
                                                        <span class="website"><%=discounts[7].product.website%></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>       
                                    <% } %>                            
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </div>
                    </div>
                </div>
            </div>
        </div>